*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px  --> 10/16 * 100 = 62.5%

  /* 
$break-point argument is:

-phone
-tab-port
-tab-land
-desktop    --> it's our style so, we havn't to add it as argument.
-big-desktop
*/

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px  --> 12/16 * 100 = 75%
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px  --> 9/16 * 100 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px  --> 8/16 * 100 = 50%
  }
}

body {
  box-sizing: border-box;
}
